// Calculate a column width for a given column span `$n`, `$unit` width and
// `$gutter` width.
@mixin unit($n, $unit, $gutter) {
  width: ($unit * $n) + ($gutter * ($n - 1));
}

// Create columns by giving a number of columns, a grid unit width and a gutter
// width.
//
// - `$ns`: the selector namespace (everything before the col number).
// - `$n`: the number of columns.
// - `$unit`: the unit width.
// - `$gutter`: gutter width
//
// Example:
//
//     @include cols('.sq-col--', 12, 38px, 24px);
//
@mixin cols($ns, $n, $unit, $gutter) {
  %col {
    float: left;
    margin-left: $gutter;

    &:first-child {
      margin-left: 0;
    }
  }

  @for $i from 1 through $n {
    #{$ns}#{$i} {
      @include unit($i, $unit, $gutter);
      @extend %col;
    }
  }
}

// Create n columns that fit within a given `$width`.
@mixin fit-cols($ns, $n, $width, $gutter) {
  $unit: floor(($width - ($gutter * ($n - 1))) / $n);
  @include cols($ns, $n, $unit, $gutter);
}

@mixin fluid-cols($ns, $n, $gutter) {
  $unit: floor(($width - ($gutter * ($n - 1))) / $n);
  @include cols($ns, $n, $unit, $gutter);
}