.swiss-debug [class*="swiss-col"] {
  background-color: rgba(255, 120, 0, 0.3);
  box-shadow: inset 0 0 0 1px rgba(255, 120, 0, 0.3);
}

.swiss-container {
  margin-left: 24px;
  margin-right: 24px;
}

@media (min-width: 600px) {
  .swiss-container {
    width: 552px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiss-row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .swiss-row::after {
    content: "";
    display: table;
    clear: both;
  }

  .swiss-col-sm-1 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 24px;
  }

  .swiss-col-sm-2 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 72px;
  }

  .swiss-col-sm-3 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 120px;
  }

  .swiss-col-sm-4 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 168px;
  }

  .swiss-col-sm-5 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 216px;
  }

  .swiss-col-sm-6 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 264px;
  }

  .swiss-col-sm-7 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 312px;
  }

  .swiss-col-sm-8 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 360px;
  }

  .swiss-col-sm-9 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 408px;
  }

  .swiss-col-sm-10 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 456px;
  }

  .swiss-col-sm-11 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 504px;
  }

  .swiss-col-sm-12 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 552px;
  }
}
@media (min-width: 768px) {
  .swiss-container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiss-row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .swiss-row::after {
    content: "";
    display: table;
    clear: both;
  }

  .swiss-col-sm-1 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 38px;
  }

  .swiss-col-sm-2 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 100px;
  }

  .swiss-col-sm-3 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 162px;
  }

  .swiss-col-sm-4 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 224px;
  }

  .swiss-col-sm-5 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 286px;
  }

  .swiss-col-sm-6 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 348px;
  }

  .swiss-col-sm-7 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 410px;
  }

  .swiss-col-sm-8 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 472px;
  }

  .swiss-col-sm-9 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 534px;
  }

  .swiss-col-sm-10 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 596px;
  }

  .swiss-col-sm-11 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 658px;
  }

  .swiss-col-sm-12 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 720px;
  }

  .swiss-col-md-1 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 38px;
  }

  .swiss-col-md-2 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 100px;
  }

  .swiss-col-md-3 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 162px;
  }

  .swiss-col-md-4 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 224px;
  }

  .swiss-col-md-5 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 286px;
  }

  .swiss-col-md-6 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 348px;
  }

  .swiss-col-md-7 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 410px;
  }

  .swiss-col-md-8 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 472px;
  }

  .swiss-col-md-9 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 534px;
  }

  .swiss-col-md-10 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 596px;
  }

  .swiss-col-md-11 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 658px;
  }

  .swiss-col-md-12 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 720px;
  }
}
@media (min-width: 960px) {
  .swiss-container {
    width: 912px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiss-row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .swiss-row::after {
    content: "";
    display: table;
    clear: both;
  }

  .swiss-col-sm-1 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 54px;
  }

  .swiss-col-sm-2 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 132px;
  }

  .swiss-col-sm-3 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 210px;
  }

  .swiss-col-sm-4 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 288px;
  }

  .swiss-col-sm-5 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 366px;
  }

  .swiss-col-sm-6 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 444px;
  }

  .swiss-col-sm-7 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 522px;
  }

  .swiss-col-sm-8 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 600px;
  }

  .swiss-col-sm-9 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 678px;
  }

  .swiss-col-sm-10 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 756px;
  }

  .swiss-col-sm-11 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 834px;
  }

  .swiss-col-sm-12 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 912px;
  }

  .swiss-col-md-1 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 54px;
  }

  .swiss-col-md-2 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 132px;
  }

  .swiss-col-md-3 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 210px;
  }

  .swiss-col-md-4 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 288px;
  }

  .swiss-col-md-5 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 366px;
  }

  .swiss-col-md-6 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 444px;
  }

  .swiss-col-md-7 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 522px;
  }

  .swiss-col-md-8 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 600px;
  }

  .swiss-col-md-9 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 678px;
  }

  .swiss-col-md-10 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 756px;
  }

  .swiss-col-md-11 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 834px;
  }

  .swiss-col-md-12 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 912px;
  }

  .swiss-col-lg-1 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 54px;
  }

  .swiss-col-lg-2 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 132px;
  }

  .swiss-col-lg-3 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 210px;
  }

  .swiss-col-lg-4 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 288px;
  }

  .swiss-col-lg-5 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 366px;
  }

  .swiss-col-lg-6 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 444px;
  }

  .swiss-col-lg-7 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 522px;
  }

  .swiss-col-lg-8 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 600px;
  }

  .swiss-col-lg-9 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 678px;
  }

  .swiss-col-lg-10 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 756px;
  }

  .swiss-col-lg-11 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 834px;
  }

  .swiss-col-lg-12 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 912px;
  }
}
@media (min-width: 1400px) {
  .swiss-container {
    width: 1344px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiss-row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .swiss-row::after {
    content: "";
    display: table;
    clear: both;
  }

  .swiss-col-sm-1 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 90px;
  }

  .swiss-col-sm-2 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 204px;
  }

  .swiss-col-sm-3 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 318px;
  }

  .swiss-col-sm-4 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 432px;
  }

  .swiss-col-sm-5 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 546px;
  }

  .swiss-col-sm-6 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 660px;
  }

  .swiss-col-sm-7 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 774px;
  }

  .swiss-col-sm-8 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 888px;
  }

  .swiss-col-sm-9 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1002px;
  }

  .swiss-col-sm-10 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1116px;
  }

  .swiss-col-sm-11 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1230px;
  }

  .swiss-col-sm-12 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1344px;
  }

  .swiss-col-md-1 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 90px;
  }

  .swiss-col-md-2 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 204px;
  }

  .swiss-col-md-3 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 318px;
  }

  .swiss-col-md-4 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 432px;
  }

  .swiss-col-md-5 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 546px;
  }

  .swiss-col-md-6 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 660px;
  }

  .swiss-col-md-7 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 774px;
  }

  .swiss-col-md-8 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 888px;
  }

  .swiss-col-md-9 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1002px;
  }

  .swiss-col-md-10 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1116px;
  }

  .swiss-col-md-11 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1230px;
  }

  .swiss-col-md-12 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1344px;
  }

  .swiss-col-lg-1 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 90px;
  }

  .swiss-col-lg-2 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 204px;
  }

  .swiss-col-lg-3 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 318px;
  }

  .swiss-col-lg-4 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 432px;
  }

  .swiss-col-lg-5 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 546px;
  }

  .swiss-col-lg-6 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 660px;
  }

  .swiss-col-lg-7 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 774px;
  }

  .swiss-col-lg-8 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 888px;
  }

  .swiss-col-lg-9 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1002px;
  }

  .swiss-col-lg-10 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1116px;
  }

  .swiss-col-lg-11 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1230px;
  }

  .swiss-col-lg-12 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1344px;
  }

  .swiss-col-xl-1 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 90px;
  }

  .swiss-col-xl-2 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 204px;
  }

  .swiss-col-xl-3 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 318px;
  }

  .swiss-col-xl-4 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 432px;
  }

  .swiss-col-xl-5 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 546px;
  }

  .swiss-col-xl-6 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 660px;
  }

  .swiss-col-xl-7 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 774px;
  }

  .swiss-col-xl-8 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 888px;
  }

  .swiss-col-xl-9 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1002px;
  }

  .swiss-col-xl-10 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1116px;
  }

  .swiss-col-xl-11 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1230px;
  }

  .swiss-col-xl-12 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: 1344px;
  }
}

/*# sourceMappingURL=swiss.css.map */
